h1 {color: cornsilk
; font-family: 'Times New Roman', Times, serif;}
body {background-color: darkslategrey;}
p { color: cornsilk ; font-family: 'Times New Roman', Times, serif;}
img {width: 400px;}
h2 {color: cornsilk; font-family: 'Times New Roman', Times, serif;}
a{color: cornsilk;}